body {
   background-color: white;
   width: 1200px;
   color: #242021;
   font-size: 20px;
   border: 3px;
   margin: auto;
}

#menu {
   float: left;
   border-right: 2px solid #041E42;
   border-bottom: 2px solid #041E42;
   width: 320px;
   height: auto;
   font-size: 30px;
   border-bottom-right-radius: 20px;
}

.menu_link {
   
   display: block;

   color: #041E42;
   background-color: #AFEADC;
   text-decoration: none;

   padding: 3px;
   margin: 2px;
   margin-bottom: 15px;
   margin-top: 15px;
   
   border: 1px solid #041E42;
   border-radius: 20px;
}

.menu_link:hover {
   font-size: 31px;
   font-weight: 600;
}

.active_menu_link {
   
   display: block;
   background-color: #c7c7bf;
   color: #041E42;
   text-decoration: none;

   padding: 3px;
   margin: 2px;
   margin-bottom: 15px;
   margin-top: 15px;
   
   border: 1px solid #041E42;
   border-radius: 20px;
}

.menu_par {
   margin-bottom: 15px;
   margin-top: 15px;
}

#header {
   float: left;
   width: 100%;
   max-height: 100px;
   text-align: center;
   overflow: visible;
   padding: 25px;
   
   color: #041E42;
   background-color: #AFEADC;
   border: 5px solid #041E42;
   border-top-width: 0px;
   
   font-size: 50px;
   border-bottom-right-radius: 25px;
   border-bottom-left-radius: 25px;
}

.page_content {
   margin:15px;
   text-align: left;
   border: 2px solid #041E42;
   color: #041E42;
   border-radius: 15px;
   width: calc(100% - 324px - 54px);
   font-size: 30px;
   padding: 10px;
   
}

.page_content, #menu
{
   float: left;
}

#users_table
{
   border-spacing: 10px;
}

#users_link
{
   text-decoration: none;
   color: #041E42;;
}

#user_logo{
   margin-left: 5%;
   margin-right: 5%;
   width: 30%;
   border: 1px solid #041E42;;
}

#user_info
{
   margin-right: 5%;
   width: 50%;
}

#user_logo, #user_info {
   float:left;
}

#test_warning {
   border: 1px solid black;
   border-radius: 50%;
   height: 10px;
}